<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_zip"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZIPfront"
        tools:targetApi="31"
        android:usesCleartextTraffic = "true" >

        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".SignUpSettingActivity"
            android:exported="false"/>

        <activity
            android:name=".SignUpMarketingActivity"
            android:exported="false"/>

        <activity
            android:name=".SignUpPersonalActivity"
            android:exported="false"/>

        <activity
            android:name=".SignUpServiceActivity"
            android:exported="false"/>

        <activity
            android:name=".IsaScheduleActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".SignUpBeforeActivity"
            android:exported="false"/>

        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:label="@string/title_activity_schedule" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="9cb869951d9a97be6fc1a0dd0dc28c42"/>

        <activity
            android:name=".MatchingActivity"
            android:exported="false" />
        <activity
            android:name=".MatchingActivity2"
            android:exported="false" />
        <activity
            android:name=".MatchingOptionActivity"
            android:exported="false" />
        <activity
            android:name=".MatchingOptionActivity2"
            android:exported="false" />
        <activity
            android:name=".MatchingSecondOptionActivity"
            android:exported="false"/>
        <activity
            android:name=".MatchingSecondUploadActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchLocationActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchLocationActivity2"
            android:exported="false"/>
        <activity
            android:name=".SearchLocationActivity3"
            android:exported="false"/>
        <activity
            android:name=".PropertyInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuFirstActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuCertifyActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuSecessionActivity"
            android:exported="false"/>
        <activity
            android:name=".NewMatchinguploadActivity"
            android:exported="false"/>
        <activity
            android:name=".ZItmeInfoActivity1"
            android:exported="false"/>
        <activity
            android:name=".ZItmeInfoActivity2"
            android:exported="false"/>
        <activity
            android:name=".ZItmeInfoActivity3"
            android:exported="false"/>
        <activity
            android:name=".ZItmeInfoActivity4"
            android:exported="false"/>
        <activity
            android:name=".ZItmeInfoActivity5"
            android:exported="false"/>
        <activity
            android:name=".OptionActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuManagementActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchMapActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchMapActivity2"
            android:exported="false"/>
        <activity
            android:name=".SearchMapActivity3"
            android:exported="false"/>
        <activity
            android:name=".AdditionalActivity0"
            android:exported="false"/>
        <activity
            android:name=".AdditionalActivity2"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"/>
        <activity
            android:name=".AdditonalActivity3"
            android:exported="false"/>
        <activity
            android:name=".MenuSerciveActivity"
            android:exported="false"/>
        <activity
            android:name=".ManagementInfoActivity"
            android:exported="false"/>
        <activity
            android:name=".ScheduleActivityHome"
            android:exported="false"/>
        <activity
            android:name=".IsaScheduleActivityHome"
            android:exported="false"/>
        <activity
            android:name=".ScheduleHomeModifyActivity"
            android:exported="false"/>
        <activity
            android:name=".ScheduleModifyActivity"
            android:exported="false"/>
    </application>

</manifest>